{
  "CN": "{{ CFSSL_CERT_CN }}",
  "hosts": [
    "{{ CFSSL_CERT_HOSTS }}"
  ],
  "key": {
    "algo": "{{ CFSSL_CERT_KEY_ALGO }}",
    "size": {{ CFSSL_CERT_KEY_SIZE }}
  },
  "names": [
    {
      "O": "{{ CFSSL_CERT_ORGANIZATION }}",
      "OU": "{{ CFSSL_CERT_ORGANIZATION_UNIT }}",
      "L": "{{ CFSSL_CERT_LOCATION }}",
      "ST": "{{ CFSSL_CERT_STATE }}",
      "C": "{{ CFSSL_CERT_COUNTRY }}"
    }
  ]
}
